<!DOCTYPE html>
<html>
    <head>

        <title>Ford Data Center</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stylesheets/style.css') }}" />

    </head>

    <body>

        <div class="page-header">
            <div class="box-1-import">
                <h1>Advanced Polymer Technologies Data Center</h1>
                <h2>Import Data</h2>
            </div>
        
        <div class="instructions-import">
            <div class="box-2-import">
                <h3>Instructions</h3>
                <p>
                    Please browse your personal device for a file that you would like to upload. File types accepted: CSV.
                </p>
            </div>   
        </div>

        </div><!--container ends here-->

    </body>

</html>